spawn-at-startup "kitty" "--start-as=hidden"

workspace "browser"
workspace "dev"
workspace "media"
workspace "chat"
workspace "gaming"

prefer-no-csd 

output "eDP-1" {
    scale 1.7
}
output "HDMI-A-1" {
    mode "1920x1080@71.910"
    scale 1
}

gestures {
    hot-corners {
        off
    }
}

layout {
    gaps 10
    center-focused-column "never" // never, always, on-overflow
    always-center-single-column
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.2
        proportion 0.66667
    }
    focus-ring {
        on
        width 2
    }
    border {
        off
        width 2
    }
}

input {
    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="30%" // 0% only focus windows that are already fully on screen
    keyboard {
        xkb {
            layout "us"
            variant "colemak_dh_iso"
            options "caps:escape"
        }
    }
    touchpad {
        dwt // disable-while-typing
        natural-scroll
    }
}

binds {
    Mod+Shift+Slash repeat=false { show-hotkey-overlay; } 
    Mod+Shift+Q { quit; }
    Mod+Tab repeat=false { focus-workspace-previous; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Mod+Shift+V       repeat=false { toggle-window-floating; }
    Mod+V repeat=false { switch-focus-between-floating-and-tiling; }
    Mod+Shift+T { toggle-column-tabbed-display; }
    Mod+Shift+S { screenshot-screen; }
    Mod+C { center-column; }
    Mod+Shift+C { center-visible-columns; }
    Mod+R repeat=false { switch-preset-column-width; }
    Mod+Shift+E repeat=false { expand-column-to-available-width; } 
    Mod+Shift+R repeat=false {switch-preset-window-height;}
    Mod+F repeat=false { maximize-column; }
    Mod+Shift+F repeat=false { fullscreen-window; }
    // https://niri-wm.github.io/niri/Configuration%3A-Key-Bindings.html#toggle-keyboard-shortcuts-inhibit
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+Left  { focus-column-left; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+Down     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Up     { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+L     { focus-column-right; }
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+WheelScrollDown      { focus-window-or-workspace-down; }
    Mod+WheelScrollUp        { focus-window-or-workspace-up; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+Down     { move-window-down-or-to-workspace-down; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up     { move-window-up-or-to-workspace-up; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+L     { move-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Shift+0 { reset-window-height; }

    // media keys
    XF86AudioRaiseVolume allow-when-locked=true { spawn "volume" "up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "volume" "down"; }
    XF86AudioMute        allow-when-locked=true { spawn "volume" "mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "volume" "micmute"; }
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightness" "up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightness" "down"; }
    Ctrl+XF86MonBrightnessUp { spawn "brightness" "up" "2"; }
    Ctrl+XF86MonBrightnessDown { spawn "brightness" "down" "2"; }
    Mod+XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "-q" "-d" "kbd_backlight" "s" "+25%"; }
    Mod+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-q" "-d" "kbd_backlight" "s" "25%-"; }

    // application binds
    Mod+D repeat=false hotkey-overlay-title="Dismiss notification" { spawn "makoctl" "dismiss"; }
    Mod+Space hotkey-overlay-title="App Launcher" { spawn "fuzzel"; }
    Mod+T hotkey-overlay-title="Terminal" { spawn "launch-or-focus" "--id" "kitty" "kitty" "-1"; }
    Mod+Slash hotkey-overlay-title="Terminal (Quick access)" { spawn "kitten" "quick-access-terminal"; }
    Mod+G hotkey-overlay-title="Make current window global (pin)" { spawn "nirius" "toggle-follow-mode"; }
    Mod+E repeat=false hotkey-overlay-title="Yazi" { spawn "launch-or-focus" "--tui" "yazi"; }
    Mod+B repeat=false hotkey-overlay-title="Browser" { spawn "launch-or-focus" "brave-origin"; }
    Mod+W repeat=false hotkey-overlay-title="Whatsapp" { spawn "launch-or-focus" "--webapp" "web.whatsapp.com"; }
    Mod+M repeat=false hotkey-overlay-title="Spotify" { spawn "launch-or-focus" "--webapp" "open.spotify.com"; }
    Mod+Shift+M repeat=false hotkey-overlay-title="ProtonMail" { spawn "launch-or-focus" "--webapp" "mail.proton.me"; }
    Mod+Y repeat=false hotkey-overlay-title="YouTube" { spawn "launch-or-focus" "--webapp" "www.youtube.com"; }
    Mod+P repeat=false { spawn "dmenu-power"; }
    Mod+N repeat=false hotkey-overlay-title="Neovim" { spawn "launch-or-focus" "--id" "nvim" "dmenu-projects" "nvim"; }
    Mod+A repeat=false hotkey-overlay-title="Opencode" { spawn "launch-or-focus" "--id" "opencode" "dmenu-projects" "opencode"; }
    Mod+Shift+N repeat=false hotkey-overlay-title="Neovim (new instance)" { spawn "dmenu-projects" "nvim"; }
    Mod+Shift+A repeat=false hotkey-overlay-title="Opencode (new instance)" { spawn "dmenu-projects" "opencode"; }
}


// Make inactive windows semitransparent with blur
window-rule {
    match is-active=false
    opacity 0.9
     background-effect {
        blur true
    }
}

// Open the Firefox and Chromium PIP floating by default.
window-rule {
    match title="^Picture-in-Picture$"
    match title="^Picture in picture$"
    open-floating true
    default-floating-position x=10 y=10 relative-to="top-right"
    default-column-width { fixed 400; }
    default-window-height { fixed 225; }
    open-focused false
}

// Block out apps from screen capture.
window-rule {
    match app-id=r#"^org\.gnome\.seahorse\.Application$"#
    block-out-from "screen-capture"
}

// browser workspace apps
window-rule {
    match app-id=r#"brave-origin"#
    open-on-workspace "browser"
    open-focused true
}
// dev workspace apps
window-rule {
    match app-id=r#"nvim"#
    match app-id=r#"opencode"#
    match app-id=r#"kitty"#
    match app-id=r#"foot"#
    match app-id=r#"com.mitchellh.ghostty"#
    open-on-workspace "dev"
    open-focused true
}
// media workspace apps
window-rule {
    match app-id=r#"kopuz"#
    match app-id=r#"brave-open.spotify.com__-Default"#
    match app-id=r#"brave-music.youtube.com__-Default"#
    open-on-workspace "media"
    open-focused true
}
// chat workspace apps
window-rule {
    match app-id=r#"brave-web.whatsapp.com__-Default"#
    match app-id=r#"brave-mail.proton.me__-Default"#
    match app-id=r#"signal"#
    open-on-workspace "chat"
    open-focused true
}
// gaming
window-rule {
    match app-id=r#"steam"#
    match app-id=r#"heroic"#
    open-on-workspace "gaming"
    open-focused true
}

