binds {
    XF86AudioRaiseVolume allow-when-locked=true { spawn "volume" "up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "volume" "down"; }
    XF86AudioMute        allow-when-locked=true { spawn "volume" "mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "volume" "micmute"; }
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn "playerctl" "stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightness" "up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightness" "down"; }
    Ctrl+XF86MonBrightnessUp { spawn "brightness" "up" "2"; }
    Ctrl+XF86MonBrightnessDown { spawn "brightness" "down" "2"; }
    Mod+XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "-q" "-d" "kbd_backlight" "s" "+25%"; }
    Mod+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-q" "-d" "kbd_backlight" "s" "25%-"; }

    // application binds
    Mod+D repeat=false hotkey-overlay-title="Dismiss notification" { spawn "makoctl" "dismiss"; }
    Mod+Space hotkey-overlay-title="App Launcher" { spawn "fuzzel"; }
    Mod+P repeat=false { spawn "dmenu-power"; }
}


// Make inactive windows semitransparent with blur
window-rule {
    match is-active=false
    opacity 0.9
     background-effect {
        blur true
    }
}
