window#waybar {
    color: @base05;
    border-radius: 0;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 5px;
}

#battery.critical,
#privacy {
    color: @base08;
}

#custom-ws-dots {
    color: @base09;
}

#bluetooth.connected,
#idle_inhibitor.activated {
    color: @base0D;
}

#tray {
    background-color: @base01;
    padding: 0 10px;
}

#workspaces button {
    padding: 0 5px;
    min-width: 0;
    color: @base05;
}

#workspaces button.active {
    background-color: @base0D;
    color: @base00;
}
